/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;700;900&family=Montserrat:wght@400;500;700&family=Ubuntu:wght@300;500;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header { 
    background: #689ef1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 10;
}

/* Ski more logo */
header .logo {
    position: relative;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.sm-logo {
    color: darkblue;
}

/* Navigation */
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
}

header .navigation li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

header .navigation li a:hover {
    color: darkblue;
}

/* Main content */

/* Hero image */
#two-skiers {
    height: 700px;
    width: 100%;
    background: url("../images/two-skiers.jpg") no-repeat center center/cover;
}

/* Footer */
footer {
    background-color: #689ef1
}


@media (max-width: 424px) {
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}
