/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Montserrat:wght@400;700&family=Ubuntu:wght@300;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Genaral Styles */

.section-title {
    font-family: Ubuntu;
    font-size: 120%;
    padding-top: 5%;
    padding-left: 2%;
    color: rgb(48, 48, 48);
}

.section p {
    font-family: Catamaran;
    padding-left: 1%;
    color: rgb(48, 48, 48);
}

/* Header */
header { 
    background: #2d7ef7;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 10;
}

/* Ski more logo */
header .logo {
    position: relative;
    font-size: 1.5em;
    color: snow;
    text-decoration: none;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 300%;
}
.sm-logo {
    color: rgb(48, 48, 48);
}

/* Navigation */
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    font-family: Ubuntu;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
}

header .navigation li a {
    color: snow;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

header .navigation li a:hover {
    color: rgb(48, 48, 48);
}

/* Main content */

/* Hero image */
#two-skiers {
    min-height: 700px;
    width: 100%;
    background: url("../images/two-skiers.jpg") no-repeat center center/cover;
}

/* Bar between hero image and first section */
.bar {
    background: rgb(48, 48, 48);
    color: snow;
    font-family: Ubuntu;
}

.bar h2 {
    font-size: 150%;
    padding-left: 2%;
}

/* First Section: About */
.section1 {
    display: flex;
    flex-direction: column;
}

#ski-lifts {
    background: url("../images/ski-lifts.jpg") no-repeat center center/cover;
    min-height: 300px;
}

/* Footer */
footer {
    background-color: #2d7ef7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 0 20%;
    list-style: none;
}

.footer li a{
    color: snow;
}

.fotter i {
  font-size: 150%;  
}


@media (max-width: 490px) {
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}
