/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Montserrat:wght@400;700&family=Ubuntu:wght@300;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Genaral Styles */

.section {
    display: flex;
    flex-direction: column;
}

.section-title {
    font-family: Ubuntu;
    font-size: 150%;
    padding-top: 15px;
    padding-left: 6px;
    color: rgb(48, 48, 48);
}

.section p {
    font-family: Catamaran;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(48, 48, 48);
}

h4 {
    font-family: Ubuntu;
    font-size: 100%;
    padding-top: 15px;
    padding-left: 6px;
    color: rgb(48, 48, 48);
}

/* Header */
header { 
    background: #2d7ef7;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    z-index: 10;
}

.button {
    display: flex;
    justify-content: center;
}

/* Ski more logo */
header .logo {
    position: relative;
    font-size: 1.5em;
    color: snow;
    text-decoration: none;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 300%;
}
.sm-logo {
    color: rgb(48, 48, 48);
}

/* Navigation */
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    font-family: Ubuntu;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
}

header .navigation li a {
    color: snow;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

header .navigation li a:hover {
    color: rgb(48, 48, 48);
}

/* Main content */

/* Hero image */
#two-skiers {
    min-height: 700px;
    width: 100%;
    background: url("../images/two-skiers.jpg") no-repeat center center/cover;
}

/* Bar between hero image and first section */
.bar {
    background: rgb(48, 48, 48);
    color: snow;
    font-family: Ubuntu;
}

.bar h2 {
    font-size: 250%;
    padding-left: 2%;
}

/* Images for the sections */

#ski-lifts {
    background: url("../images/ski-lifts.jpg") no-repeat center center/cover;
    min-height: 300px;
}

#resorts {
    background: url("../images/resorts.png") no-repeat center center/cover;
    min-height: 300px;
    order: 1;
}

#pisted-slopes {
    background: url("../images/pisted-slope.jpg") no-repeat center center/cover;
    min-height: 300px;
}

/* Button to get to the gallery */

#button-gallery {
    padding: 15px 20px;
    margin: 30px 0px;
    font-family: Montserrat;
    font-size: 100%;
    color: snow;
    background: #2d7ef7;
    border: none;
    border-radius: 1em;
}

#button-gallery:hover {
    background: rgb(48, 48, 48);
}

/* Footer */
footer {
    background-color: #2d7ef7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 0 20%;
    list-style: none;
}

.footer li a{
    color: snow;
    font-size: 150%;
}

/* Media queries for responsivnes */
@media (max-width: 490px) {
    header{
        padding: 10px 20px;
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .section {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Images in the sections */
    #ski-lifts {
        min-width: 50%;
    }

    #resorts {
        min-width: 50%;
        order: -1;
    }

    #pisted-slopes {
        min-width: 50%;
    }

    .h3+p {
        display: flex;
        flex-direction: column;
    }
}    
